@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: #093028;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #237A57, #093028);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #237A57, #093028);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.jumbotron-bg {
  background-image: url(https://res.cloudinary.com/dgxmqoyv4/image/upload/q_auto/f_auto/v1706578187/hero_Mesa_de_trabajo_1_hhjzu0.png);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.jumbotron-hg {
  height: 500px;
}

.btn-color-jumbo {
  width: 30%;
  text-align: center;
  justify-content: center;
  align-self: center;
  background-color: #6bac44;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-color {
  text-align: center;
  justify-content: center;
  align-self: center;
  background-color: #6bac44;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;

}

.btn-color:hover {
  filter: brightness(85%);
  transition: 0.3s;
}

.navbar-h {
  min-height: 80px;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 0px;
}

.card-input:hover {
  cursor: pointer;
  box-shadow: 0 0 1px 1px #2ecc71;
  filter: brightness(95%);
  transition: 0.3s;
}

.card-input-element:checked+.card-input {
  box-shadow: 0 0 1px 1px #2ecc71;
}

.form-width {
  max-width: 95%;
}
.jumbotron-card{
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
}
@media only screen and (max-width: 767.98px) {
  .form-width {
    max-width: 75%;
  }
  .jumbotron-card{
    width: 90%;
    margin-top: 10px;
  }
}

@media (min-width: 1023.98px) {
  .form-width {
    max-width: 50%;
  }
}